<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
        .h{
            padding-left: 5%;
            padding-right: 5%;
        }
    </style>
    
    </head>
    <body>
      <div  class="container"> 
        <center style="background-color: black; color: cornsilk; padding-bottom: .1% ; " ><h1> irene pragma</h1></center>
      </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> contact</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    you are/you are locking for ?
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Men</a>
                    <a class="dropdown-item" href="#">Women</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">shirt </a>
                    <a class="dropdown-item" href="#">pant </a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="/logout/">logout</a>
                </li>
              </ul>
            </div>
          </nav> <br> <br>
          
          <div class="h">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="../static/images/white-shirt.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">plane white shirt</h5>
                <p class="card-text">allen-solley(Formals) </p>
                <p class="card-text">cost = 2k </p>
                <p class="card-text"><small class="text-muted">3 Left</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../static/images/check-shirt.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">check-shirt</h5>
                <p class="card-text">allen-solley(Formals)</p>
                <p class="card-text">Cost = 2k</p>
                <p class="card-text"><small class="text-muted">Instock</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../static/images/jeans-shirt.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">jeans shirt</h5>
                <p class="card-text" >pepe original </p>
                <p class="card-text" >cost = 3k  </p>
                <p class="card-text"><small class="text-muted">instock</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="h">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="../static/images/cargo-pants.jpg " alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">cargo-pants</h5>
                <p class="card-text"> allen-solley Pepe jeans </p>
                <p class="card-text"> Cost = 1800 </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../static/images/formal-pants.jpg " alt="Card image cap">
              <div class="card-body"><br> 
                <h5 class="card-title">formal-pants</h5>
                <p class="card-text">allen-solley</p>
                <p class="card-text">Cost = 1800</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../static/images/crotch-pants.jpg" alt="Card image cap">
              <div class="card-body"> <br> <br> <br> <br>
                <h5 class="card-title">crotch-pants</h5>
                <p class="card-text" >jeans-pants of pepe jeans  </p>
                <p class="card-text" > cost = 1500  </p>
                <p class="card-text"><small class="text-muted">In Stock</small></p>
              </div>
            </div>
          </div>
        </div>


    </body>
</html>